.main-page {
  display: flex;
  background-image: url("../../img/IMG_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: left, right;
  background-attachment: fixed, fixed;
}

.title {
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  text-transform: uppercase;
  font-family: Andalus;

    & p.paragraph {
      font-family: Roboto;
      font-size: 21px;
      margin-top: 10px;
    }
}

@media (max-width: 600px){
  .title {
    font-size: 20px;
  }
}