@import '../../styles/colors';
@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');

.header {
  display: flex;
  flex-wrap: wrap;
  background-color: skyblue;
  width: 100%;
}

.main-nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1040px;
  margin: 0px auto;
  padding: 10px 0px 10px;
}

.nav-bar1, .nav-bar2 {
  margin: auto;

  a {
    color: $white;
    text-decoration: none;
    font-family: 'Baskervville', serif;
    font-size: 20px;
    padding: 20px;

    &:hover {
        color: limegreen;
        transition-duration: 0.2s;
    }

    :hover .active {
      background-color: #ba1c1c;
    }
  }
}

.btn {
  cursor: pointer;
  border: 2px solid $blue;
  padding: 10px 30px 11px;
  margin: 0 0 0 50px;
  text-decoration: none;
  color: $white;

  :hover {
    background-color: white;
  }
}

.logo {
  width: 100px;
  height: 100px;
}

@media (max-width: 600px) {
  .main-nav-bar {
    flex-direction: column;
    margin: auto;
  }

  .nav-bar1 {
    font-size: 14px;
    text-align: center;
  }
}