@import "../../styles/colors";

.footer {
  background-color: skyblue;
  position: relative;
  width: 100%;
}

.footer-nav-bar {
  display: flex;
  justify-content: space-around;
  max-width: 1040px;
  height: 200px;
  margin: auto;
  border-bottom: 1px solid $white;
}

.our-contacts {
  width: 260px;
  padding-top: 20px;
  font-size: 17px;
  font-family: 'Baskervville', serif;

  & p {
    color: white;
    padding-top: 10px;
    text-decoration: none;
  }
}

.all-right-reserved {
  text-align: center;
  padding: 20px 0 20px;
  font-size: 17px;
  color: $white;
  font-family: 'Baskervville', serif;
}

.social-media {
  padding-top: 20px;
  font-size: 20px;
  font-family: 'Baskervville', serif;
}